@import 'kube.import.less';

body{
  background:#eee;
  height:100vh;
  font-family: "Raleway";
  h1, h2, h3, h4, h5, h6{
    font-family: "Raleway";
  }
}

.cols{
  min-height:100vh;
  color:#fff;
  h1{
    text-align:center;

  }
}

.storyCol{
  background:rgba(1,1,1,.8);
  h1{
    color:#fff;
  }
  .story-summary{
    // padding:1rem;
  }
}

.todoCol{
    border-right:2px dashed #666;

}

.startedCol{
    border-right:2px dashed #666;
}

.testingCol{
  border-right:2px dashed #666;

}

.completedCol{
  border-right:2px dashed #666;

}