body {
    background-color: #eee;
    height: 100vh;
    font-family: "Raleway";
    color: #333;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway";
    }
}

.menu {
    height: 5vh;
}

.cols {
    min-height: 95vh;
    background-color: #fff;
    color: #fff;
    h1 {
        text-align: center;
        color: #333;
        margin: .1em auto;
    }
}

.storyCol {
    background: rgba(1, 1, 1, .1);
    h1 {
        color: #fff;
    }
    .story {
        margin-left: 1em !important;
        .buttons {
            border-radius: 0;
            margin: -.8em auto .8em auto;
            .button {
                border-radius: 0;
            }
        }
        h3 {
            margin-top: 0;
            .header {
                color: #fff;
            }
        }
    }
}

.todoCol {
    border-right: 2px dashed #666;
}

.startedCol {
    border-right: 2px dashed #666;
}

.completedCol {
    border-right: 2px dashed #666;
}