body {
    background-color: #eee;
    height: 100vh;
    font-family: "Raleway";
    color: #333;
    h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway";
    }
}

.menu {
    height: 6vh;
}

.cols {
    min-height: 94vh;
    background-color: #fff;
    color: #fff;
    h1 {
        text-align: center;
        color: #333;
        margin: .1em auto;
    }
}

.story {
    //        margin-left: 1em !important;
    .buttons {
        border-radius: 0;
        margin: -.8em auto .8em auto;
        .button {
            border-radius: 0;
        }
    }
    h4 {
        margin-top: 0;
    }
}

.storyCol,
.boardCol {
    background: rgba(255, 255, 255, .9);
    h1 {
        color: #666;
    }
    .story {
        margin-left: 1em !important;
        .header {
            color: #fff;
            text-shadow: -1px -1px 0 rgba(59, 131, 192, 1);
        }
    }
}

.boardCol {
    box-shadow: 0 0 5px #ccc;
    .story .header {
        color: rgba(1, 1, 1, .6);
        text-shadow: none;
    }
}

.todoCol {
    border-right: 2px dashed #ccc;
}

.startedCol {
    border-right: 2px dashed #ccc;
}

.completedCol {
    //    border-right: 2px dashed #ccc;
}