<template name="Admin">
<div class="grid-wrapper">


<div class="ui segment grid user-profile">
    <div class="four wide column"><div class="image">
    <img src="/images/user.png">
  </div></div>
    <div class="four wide column">
    <div class="ui form">
  <div class="field">
    
    <input type="text" name="first-name" placeholder="Stevie Feliciano">
  </div>
</div>
<div class="ui form">
  <div class="field">
   
    <input type="text" name="first-name" placeholder="Senior Developer">
  </div>
</div>
<div class="ui form">
  <div class="field">
   
    <input type="text" placeholder="Mobile">
  </div>
</div>
<div class="ui form">
  <div class="field">
   
    <input type="text" placeholder="Email">
  </div>
</div>
<div class="ui form">
  <div class="field">
   <div class="ui primary button">
  Save
</div>
</div>
    	 
    </div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
  </div>
</div>
</div>
</template>