<template name="forms">
<div class="ui grid grid-wrapper">
</div>
<!-- Edit Stories page section-->
<form class="ui form segment">
  <div class="two fields">
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="Name">
        </div>
        
      </div>
    </div>
    <div class="field">
      
    </div>
  </div>
  
  <div class="field">
    <label>Description</label>
    <textarea></textarea>
  </div>
  <div class="four fields">
    <div class="field">
      <label>Stories Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>To Do Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>Started Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>Finished Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
  </div>
  <div class="ui form">
  <div class="inline fields">
    <label for="fruit">Status</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit" checked="">
        <label>Completed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit">
        <label>Unassinged</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="fruit">
        <label>Attached</label>
      </div>
    </div> 
  </div>
</div>
</form>




<!-- Edit Sprints page section-->
<form class="ui form segment">
  <h4 class="ui dividing header">  Stories</h4>
  <div class="two fields">
    <div class="field">
      <label>Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      
    </div>
  </div>
  
  <div class="field">
    <label>Description</label>
    <textarea></textarea>
  </div>
  <div class="four fields">
    <div class="field">
      <label>Stories Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>To Do Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>Started Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>Finished Count</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
  </div>
  <div class="ui form">
  <div class="inline fields">
    <label for="fruit">Show Status</label>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="fruit" checked="">
        <label>Completed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="fruit">
        <label>Unassinged</label>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="fruit">
        <label>Attached</label>
      </div>
    </div> 
  </div>
</div>
</form>


<!-- Create new in Sprints page section-->
<form class="ui form segment">
  <h4 class="ui dividing header">  New Sprint</h4>
  <div class="two fields">
    <div class="field">
      <label> Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
    <div class="field">
      
    </div>
  </div>
  
  >
  <div class="four fields">
    <div class="field">
      <label>Start Date</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        
      </div>
    </div>
    <div class="field">
      <label>End Date</label>
      <div class="two fields">
        <div class="field">
          <input type="text" name="first-name" placeholder="0">
        </div>
        
      </div>
    </div>
  
   
  </div>

</form>


</template>