<template name="Home">
    <div class="ui secondary pointing menu">
        <a class="active item">
            <i class="home icon"></i> Home
        </a>
        <a class="item">
            <i class="mail icon"></i> Messages
        </a>
        <a class="item">
            <i class="user icon"></i> Friends
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <a class="ui item">
      Logout
    </a>
        </div>
    </div>
    <div class="ui grid">
        <section class="cols storyCol four wide column">
            <h1>BackLog <small>(Stories)</small></h1>

            <div class="ui blue inverted segment piled story">
                <div class="3 small fluid ui buttons">
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            Expand
                        </div>
                    </div>
                </div>
                <h3><a class="header">As a Product Manager, I need to be able to see everything that is going on.</a></h3>
                <a class="ui teal right tag label">Sprint 1</a>
            </div>
        </section>
        <section class="cols todoCol four wide column">
            <h1>To Do</h1>
        </section>
        <section class="cols startedCol four wide column">
            <h1>Started</h1>
        </section>
        <section class="cols testingCol four wide column">
            <h1>Completed</h1>
        </section>
    </div>
</template>