<template name="Home">
    <div class="ui fluid four item menu">
        <a class="active item">
            <i class="list icon"></i> Test Menu 1
        </a>
        <a class="item">
            <i class="list icon"></i> Test Menu 2
        </a>
        <a class="item">
            <i class="list icon"></i> Test Menu 3
        </a>
        <div class="right menu">
            <a class="ui item">
      Logout
    </a>
        </div>
    </div>
    <div class="ui grid">
        <section class="cols storyCol four wide column">
            <h1>BackLog <small>(Stories)</small></h1>

            <div class="ui blue inverted segment piled story">
                <div class="3 small fluid ui buttons">
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            Expand
                        </div>
                    </div>
                </div>
                <h4><a class="header">As a Product Manager, I need to be able to see everything that is going on.</a></h4>
                <a class="small ui teal label">Sprint 1</a>
                <a class="small ui red label">Testing</a>
                <a class="small ui green label">Passed</a>

            </div>
        </section>
        <section class="cols boardCol todoCol four wide column">
            <h1>To Do</h1>
            <div class="ui yellow inverted segment piled story">
                <div class="3 small fluid ui buttons">
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            Expand
                        </div>
                    </div>
                </div>
                <h4><a class="header">As a Product Manager, I need to be able to see everything that is going on.</a></h4>
                <a class="small ui teal label">Sprint 1</a>
                <a class="small ui red label">Testing</a>
                <a class="small ui green label">Passed</a> </div>
        </section>
        <section class="cols boardCol startedCol four wide column">
            <h1>Started</h1>
        </section>
        <section class="cols boardCol completedCol four wide column">
            <h1>Completed</h1>
        </section>
    </div>
</template>