<template name="loginForm">
    <div id="loginForm" class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <form>
                <div class="vcentered">
                    <h1>ScrumHub</h1>
                    <div class="ui horizontal divider">
                        Hi there!
                    </div>
                    <p>Welcome to Heardable's ScrumHub. Please log in if you are member of the Heardable Github Organization. :)</p>

                    <div class="ui horizontal divider"></div>
                    <button class="massive ui github button">
                        <i class="github icon"></i> Sign in with Github
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="login-bg"></div>
</template>