<template name="Sprint">
    <div class="content-wrapper">

        <div class="time_bar ui segment">
            <div class="ui task-heading-bg">
                <div class="four wide column left aligned"><h3>Event 1</h3></div>
                <div class="four wide column"></div>
                <div class="four wide column"></div>
                <div class="four wide column right aligned"></div>
            </div>
            <ol>
              <li>
                Point 1
                <span class="details">
                  Feb 5 2015
              </span>
          </li>
          <li>
            Point 2
            <span class="details">
              Feb 8 2015
          </span>
      </li>
      <li>
        Point 3
        <span class="details">
          Feb 15 2015
      </span>
  </li>
  <li>
    Point 4
    <span class="details">
      Feb 15 2015
  </span>
</li>
<li>
    Point 5
    <span class="details">
      Feb 18 2015
  </span>
</li>
<li>
    Point 6
    <span class="details">
      Feb 22 2015
  </span>
</li>
</ol>
<div class="ui grid task-date-bg">
    <div class="four wide column left aligned">5/02/2015</div>
    <div class="four wide column"></div>
    <div class="four wide column"></div>
    <div class="four wide column right aligned">24/02/2015</div>
</div>
<div class="ui grid">
    <div class="twelve wide left alignrd column">
        <div class="ui label">
          Stories
          <a class="detail"><i class="bookmark icon"></i> 42</a>
      </div>
      <div class="ui label">
          To do
          <a class="detail"><i class="cubes icon"></i> 23</a>
      </div>
      <div class="ui label">
          Started
          <a class="detail"><i class="refresh icon"></i> 7</a>
      </div>
      <div class="ui label">
          Finished
          <a class="detail"><i class="checkmark icon"></i> 11</a>
      </div>
  </div>
  <div class="four wide column right aligned"><div class="ui primary button bt-right">
      View More
  </div>
</div>
</div>
<!-- hide/dispaly below div when cleck View more button-->
<div class="Section-details">
    <div class="graph-bg">
        <div class="ui grid">
            <div class="twelve wide column"></div>
            <div class="four wide column right aligned"><div class="ui primary button bt-right">
              View Graph
          </div>
      </div>
  </div>

  <div>
    <div>
        <canvas id="canvas" height="250px" width="800px"></canvas>
    </div>
</div>  
</div>
<div class="ui grid" >

    <div class="left floated left aligned four wide column">  

        <div class="ui items">
            <div class="item stories-box light-blue completed piled segment">
                <div class="align-right">
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions ">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            View
                        </div>
                    </div>

                </div>
                <div class="relative ">


                    <h2>Stories (12)</h2>
                </div>
                <div class="ui story">

                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <div class="ui grid">
                        <div class="sixteen wide left alignrd column">
                            <a class="small ui teal label">Sprint 1</a>
                            <a class="small ui red label">Testing</a>
                            <a class="small ui green label">Passed</a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="left floated left aligned four wide column">  

        <div class="ui items">
            <div class="item stories-box completed piled segment">
                <div class="align-right">
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions ">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            View
                        </div>
                    </div>

                </div>
                <div class="relative ">


                    <h2>To Do (12)</h2>
                </div>
                <div class="ui story">

                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <div class="ui grid">
                        <div class="sixteen wide left alignrd column">
                            <a class="small ui teal label">Sprint 1</a>
                            <a class="small ui red label">Testing</a>
                            <a class="small ui green label">Passed</a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="left floated left aligned four wide column">  

        <div class="ui items">
            <div class="item stories-box completed piled segment">
                <div class="align-right">
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions ">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            View
                        </div>
                    </div>

                </div>
                <div class="relative ">


                    <h2>Started (12)</h2>
                </div>
                <div class="ui story">

                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <div class="ui grid">
                        <div class="sixteen wide left alignrd column">
                            <a class="small ui teal label">Sprint 1</a>
                            <a class="small ui red label">Testing</a>
                            <a class="small ui green label">Passed</a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="left floated left aligned four wide column">  

        <div class="ui items">
            <div class="item stories-box completed piled segment">
                <div class="align-right">
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="edit icon"></i>
                        </div>
                        <div class="hidden content">
                            Edit
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions">
                        <div class="visible content"><i class="move icon"></i>
                        </div>
                        <div class="hidden content">
                            Move
                        </div>
                    </div>
                    <div class="ui basic animated fade button story-functions ">
                        <div class="visible content"><i class="expand icon"></i>
                        </div>
                        <div class="hidden content">
                            View
                        </div>
                    </div>

                </div>
                <div class="relative ">


                    <h2>Finished (12)</h2>
                </div>
                <div class="ui story">

                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <p>As a Product Manager, I need to be able to see everything that is going on.</p>
                    <div class="ui grid">
                        <div class="sixteen wide left alignrd column">
                            <a class="small ui teal label">Sprint 1</a>
                            <a class="small ui red label">Testing</a>
                            <a class="small ui green label">Passed</a>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</template>