<template name="Sprints">
    <!--

(Wizard to display a welcome screen to either create a new sprint or continue exploring the site)
1. Sprints are timelines with information. Thinking something similar to soundcloud and the way they display music players
2. Sprints must show users involved, number of tasks categorised into completed, started etc.
3. Sprints must show attached Stories
4. Sprints must be creatable, editable and deletable
5. Viewing a sprint displays the Kanban Board by default.

-->
</template>