<template name="Stories">
    <!--
(Wizard to display welcome message and option to create new story or explore if no stories present)
1. Display List of Stories that are formattable on list and grid view
2. Stories must be sortable
3. Stories must be able to attach themselves to a Sprint (or more than one sprint, i.e. if it was not finished in an earlier sprint...)
4. Stories must be creatable, editable and deletable
-->

    <div class="ui grid">
        <div class="twelve wide column">
            <article class="ui blue raised segment">
            </article>
        </div>
    </div>




</template>