<template name="Users">
	<div class="grid-wrapper">
		<div class="ui segment grid user-profile">
			<div class="five wide column">
			<div class="ui form">
					<div class="field">

						<div class="ui cards">
							<div class="card">
								<div class="ui button">
									<i class="add icon"></i>
									Add User
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="ui card">
  <div class="content">
    <div class="header">Dilan</div>
    <div class="meta">
      
      <span class="category">UI Designer</span>
   
    </div>
  </div>
</div>
<div class="ui card">
  <div class="content">
    <div class="header">Jason</div>
    <div class="meta">
    
      <span class="category">Mobile Developer</span>
     
    </div>
  </div>
</div>
</div>
			<div class="five wide column">
				<div class="ui form">
					<div class="field">

						<div class="ui cards">
							<div class="card">
								<div class="ui button">
									<i class="add icon"></i>
									Add Role
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui form">
					<div class="ui cards">
						<div class="card">

							<div class="content">
								<h4 class="header">Role 1</h4>

								<div class="ui special cards user-role-added">

									<div class="dimmable image align-width">
										<div class="ui dimmer">
											<div class="content">
												<div class="center">
													<div class="ui inverted button"><i class="remove circle icon"></i></div>
												</div>
											</div>
										</div>
										<div class="grid ui ">
										<div class="three wide column">
										<img src="/images/user.png">
										</div>
										<div class="ten wide column"><p>Dilan</p>
										<p>Ui Designer</p></div>
										<div class="two wide column"><a><i class="remove icon"></i></a></div>
										</div>
										
										
									</div>

								</div>
								<div class="ui special cards user-role-added">

									<div class="dimmable image align-width">
										<div class="ui dimmer">
											<div class="content">
												<div class="center">
													<div class="ui inverted button"><i class="remove circle icon"></i></div>
												</div>
											</div>
										</div>
										<div class="grid ui ">
										<div class="three wide column">
										<img src="/images/user.png">
										</div>
										<div class="ten wide column"><p>Dilan</p>
										<p>Ui Designer</p></div>
										<div class="two wide column"><a><i class="remove icon"></i></a></div>
										</div>
										
										
									</div>

								</div>
								<div class="ui special cards user-role-added">

									<div class="dimmable image align-width">
										<div class="ui dimmer">
											<div class="content">
												<div class="center">
													<div class="ui inverted button"><i class="remove circle icon"></i></div>
												</div>
											</div>
										</div>
										<div class="grid ui ">
										<div class="three wide column">
										<img src="/images/user.png">
										</div>
										<div class="ten wide column"><p>Dilan</p>
										<p>Ui Designer</p></div>
										<div class="two wide column"><a><i class="remove icon"></i></a></div>
										</div>
										
										
									</div>

								</div>
							</div>
							<div class="ui button">
								<i class="remove circle icon"></i>
								Remove Role
							</div>
						</div>
					</div>
				</div>
				<div class="six wide column"></div>
				
			</div>
		</div>
	</div>
</template>